{% extends 'products/base.html' %}
{% load static %}

<!-- Custom styles for this template -->
{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

<!-- Page Content -->
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">{{ mainTitleText|title }}</h1>
                    <p> {{ mainText }} </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
